* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: none;
}

body {
  background-color: #222020;
}

header nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

ul {
  display: flex;
  align-items: center;
  gap: 3em;
}

nav ul a {
  color: azure;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

nav ul a:hover {
  opacity: 1;
}

.logo {
  font-size: 1.8em;
  color: azure;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  font-weight: 650;
}

.logo:hover {
  opacity: 1;
}

span {
  background: linear-gradient(to right, #f5f5f5, #ffffff);
  background-clip: text;
  color: transparent;
}

section {
  min-height: 100vh;
  padding: 5% 15%;
  background-color: #332f2f;
}
